.mn_menu{
    z-index: 1;
    height: 100vh;
    flex-grow: 1;
    /* background: rgba(34,34,34,0.6);
    backdrop-filter: blur(10px); */
    /* overflow-y: scroll; */
}

.mn_menu .sliderContainer{
    margin: 0px 12px 12px 12px;
    height: 350px;
    position: relative;
}

.mn_menu .sliderContainer .slides .slider-img{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height:100%;
    object-fit: cover;
    filter: grayscale(10);
}

.mn_menu .sliderContainer .btmEffect{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 10rem;
    background-image: linear-gradient(transparent,rgba(0,0,0,1));
}

.mn_menu .sliderContainer .topEffect{
    position: absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 3rem;
    background-image: linear-gradient(transparent,rgba(0,0,0,0.2)); 
    z-index: 4;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.mn_menu .sliderContainer .topEffect a{
    font-size: 18px;
    color: rgb(219, 229, 232);
    text-decoration: none;
    margin: auto;
    border: 1px solid white;
    border-radius: 30px;
    padding: 3px;
    margin-right: 10px;
}

.mn_menu .sliderContainer .slides .slideContent{
    position:absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    z-index: 3;
}

.mn_menu .sliderContainer .slides .slideContent .middle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: auto;
}

.mn_menu .sliderContainer .slides .slideContent .middle h1{
    color: white;
    font-weight: bold;
    font-family: cursive;
}

.mn_menu .sliderContainer .slides .slideContent .middle i{
    font-size: 30px;
    color: white;
    z-index: 3;
}

.mn_menu .sliderContainer .slides .slideContent .bottom{
    display: flex;
    align-items: center;
    justify-content: center;
}

.mn_menu .sliderContainer .slides .slideContent .bottom a{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    margin: 0px 25px;
    border: 1px solid white;
    border-radius: 30px;
}

.mn_menu .sliderContainer .slides .slideContent .bottom i{
    font-size: 16px;
    margin: 0px 6px;
}

.mn_menu .sliderContainer .slides .slideContent .bottom span{
    font-size: 23px;
    margin: 0px 1px;
}

.mn_menu .sliderContainer .slides .slideContent .bottom #btm1{
    background-color: #1DB954;
    color: black;
}

.mn_menu .sliderContainer .slides .slideContent .bottom #btm1 span{
    color: black;
    font-weight: 500;
}

.mn_menu .sliderContainer .slides .slideContent .bottom #btm2{
    background-color: #191414;
}

/* Animations for carousel */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 0.3s;
    animation-name: fade;
    animation-duration: 0.8s;
    animation-delay: 0.3ms;
}

@-webkit-keyframes fade {
    from {opacity: 0.9}
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: 0.9}
    to {opacity: 1}
}

.slide{
    display: none;
}

/* Desigining the Recently section */
 /* .mn_menu .song-container{
   position: relative;
   overflow-y: scroll;
}  */
.mn_menu .songs-container{
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.mn_menu .songs-container .songs-card{
    /* position: relative; */
    display: flex;
    height: 250px;
    margin: 12px;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
    overflow-y: scroll;
    /* margin: auto; */
}

.mn_menu .songs-container .songs-card .songs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 250px;
    max-height:300px;
    width: 170px;
    background-color: rgb(20, 18, 18);
    border-radius: 10px;
}

.mn_menu .songs-container .songs-card .songs i{
    position: absolute;
    /* font-size: 32px; */
    color: rgb(0, 101, 0);
    font-size: 0px;
    margin-top: 90px;
    margin-left: 120px;
}


.mn_menu .songs-container .songs-card .songs:hover
{
    background-color: black;
    cursor: pointer;
    transition: 0.3s ease-in;
    transform:scale(1.02);
}

/* + helps in changing thwe css for another div component when hovering on some */

.mn_menu .songs-card .songs img:hover{
    filter: grayscale(10);
}

.mn_menu .songs-card .songs img:hover + i{
  font-size: 32px;
  transition: 0.2s ease;
}

.mn_menu .songs-card .songs i:hover{
    font-size: 32px;
}

.mn_menu .songs-container .songs-card .songs img{
    height: 150px;
    width: 150px;
}

.mn_menu .songs-container .songs-card .songs #name{
    color: white;
    font-size: 16px;
    font-weight: 400;
    font-family: cursive;
    margin-top: 5px;
    height: 22px;
    overflow-y:scroll;
    overflow-x: hidden;
}

.mn_menu .songs-container .songs-card .songs #singer{
    color: rgb(118, 127, 130);
    font-size: 16px;
    font-weight: 300;
    margin-top: 5px;
    font-family: 'Times New Roman', Times, serif;
    height: 18px;
    overflow-y:scroll;
    overflow-x: hidden;
}


.mn_menu #recent{
    color: white;
    font-size: 22px;
    font-weight: 500;
    margin-left: 12px;
}